<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
  
  </body>
</html>

<h1>STATS</h1>
<ul>
<li>Six out of ten teen crashes involve driver distraction</li>
<li>Talking on a cell phone can slow a young driver's raction time down to that of a seventy year old</li>
<li>Crash risk for teens increases incrementally with each mile per hour over the speed limit</li>
<li>Car accidents are the leading cause of teenage deaths</li>
<li>Eight teens a day are killed in car crashes</li>
</ul>