<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <title>title</title>
  </head>
  <body>
  <a href = "home"><button class="tablink" onclick="openPage('Home', this, '#cdd6cf')">Home</button></a>
<a href = "stats"> <button class="tablink" onclick="openPage('Stats', this, '#cdd6cf')" id="defaultOpen">Stats</button></a>
<button class="tablink" onclick="openPage('FindACar', this, '#cdd6cf')">Find A Car</button>
<button class="tablink" onclick="openPage('About', this, '#cdd6cf')">About</button>

<div id="Home" class="tabcontent">
  <h3>Home</h3>
  <p>Home is where the heart is..</p>
</div>

<div id="Stats" class="tabcontent">
  <h3>Stats</h3>
  <p>Some news this fine day!</p> 
</div>

<div id="FindACar" class="tabcontent">
  <h3>Find A Car</h3>
  <p>Get in touch, or swing by for a cup of coffee.</p>
</div>

<div id="About" class="tabcontent">
  <h3>About</h3>
  <p>Who we are and what we do.</p>
</div>

<h1>This is your home page</h1>



  </body>
</html>